.button-container{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 48px 
}
.button{
    min-height: 36px;
    font-size: 18px;
    border-radius: 20px;
    width: 180px;
  }
  .red{
    background-color: #ba2e2ed9;
  }
  .blue{
    background-color: #2f56f0c7;
  }
  .green{
    background-color: #5aa15c;
  }